Repository maxulysse/nf-core_demultiplex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nf-core/demultiplex, @nf-core/nf-test, @nf-core/a-team, @blajoie, @nh13, @sam-white04

rocrate
  ro-crate-metadata.json
Owners: @nf-core/demultiplex

snapshots
  tests/bcl2fastq.nf.test.snap
  tests/bclconvert.nf.test.snap
  tests/bclconvert_mini.nf.test.snap
  tests/default.nf.test.snap
  tests/fqtk.nf.test.snap
  tests/kraken.nf.test.snap
  tests/mgikit.nf.test.snap
  tests/mkfastq.nf.test.snap
  tests/sgdemux.nf.test.snap
  tests/skip_tools.nf.test.snap
  tests/test_pe.nf.test.snap
  tests/trimming/remove_samplesheet_adapter/main.nf.test.snap
Owners: @nf-core/nf-test

revert changes due to template sync that should not have been there
  nf-test.config
  tests/default.nf.test
Owners: @nf-core/demultiplex, @nf-core/nf-test

Update tests/default.nf.test
  tests/default.nf.test
Owners: @nf-core/nf-test

update bases2fastq
  conf/modules.config
  modules.json
  modules/nf-core/bases2fastq/main.nf
  modules/nf-core/bases2fastq/meta.yml
  modules/nf-core/bases2fastq/tests/main.nf.test
  modules/nf-core/bases2fastq/tests/main.nf.test.snap
  ro-crate-metadata.json
Owners: @nf-core/demultiplex, @blajoie

remove --strict
  conf/modules.config
Owners: @nf-core/demultiplex

update bases2fastq
  tests/default.nf.test.snap
Owners: @nf-core/nf-test

update CHANGELOG
  CHANGELOG.md
Owners: @nf-core/demultiplex

Update CHANGELOG.md
  CHANGELOG.md
Owners: @nf-core/demultiplex

Bump version to v1.7.0
  .nf-core.yml
  assets/multiqc_config.yml
  nextflow.config
  ro-crate-metadata.json
Owners: @nf-core/demultiplex

Update changelog
  CHANGELOG.md
Owners: @nf-core/demultiplex

Prettier
  .nf-core.yml
  assets/multiqc_config.yml
Owners: @nf-core/demultiplex

Apply suggestions from code review
  .github/workflows/release-announcements.yml
  CHANGELOG.md
  nextflow.config
Owners: @nf-core/a-team, @nf-core/demultiplex

Update .github/workflows/nf-test.yml
  .github/workflows/nf-test.yml
Owners: @nf-core/a-team

Update .github/workflows/nf-test.yml
  .github/workflows/nf-test.yml
Owners: @nf-core/a-team

Back to dev
  .nf-core.yml
  assets/multiqc_config.yml
  nextflow.config
  ro-crate-metadata.json
Owners: @nf-core/demultiplex

Update Changelog
  CHANGELOG.md
Owners: @nf-core/demultiplex

[automated] Fix code linting
  .nf-core.yml
  CHANGELOG.md
  assets/multiqc_config.yml
Owners: @nf-core/demultiplex

Template update for nf-core/tools version 3.5.1
  .github/workflows/awsfulltest.yml
  .github/workflows/awstest.yml
  .github/workflows/download_pipeline.yml
  .github/workflows/fix_linting.yml
  .github/workflows/linting.yml
  .github/workflows/nf-test.yml
  .github/workflows/release-announcements.yml
  .github/workflows/template-version-comment.yml
  .nf-core.yml
  .prettierignore
  CHANGELOG.md
  README.md
  modules.json
  modules/nf-core/multiqc/environment.yml
  modules/nf-core/multiqc/main.nf
  modules/nf-core/multiqc/tests/main.nf.test.snap
  nextflow.config
  ro-crate-metadata.json
  subworkflows/local/utils_nfcore_demultiplex_pipeline/main.nf
  subworkflows/nf-core/utils_nfcore_pipeline/main.nf
  workflows/demultiplex.nf
Owners: @nf-core/a-team, @nf-core/demultiplex, @nf-core/nf-test

.github/CODEOWNERS:

# Maintainers
* @nf-core/demultiplex
*.nf.test* @nf-core/nf-test
.github/workflows/ @nf-core/a-team

# Element
modules/nf-core/bases2fastq/ @blajoie
subworkflows/local/bases_demultiplex/main.nf @blajoie
tests/pipeline/default/bases2fastq.nf.test* @blajoie
conf/test_bases2fastq.config @blajoie
assets/inputs/b2fq-samplesheet.csv @blajoie

# Singular
modules/nf-core/sgdemux/ @nh13 @sam-white04
subworkflows/local/singular_demultiplex/ @nh13 @sam-white04
tests/pipeline/default/sgdemux.nf.test* @nh13 @sam-white04
conf/test_sgdemux.config @nh13 @sam-white04
assets/inputs/sgdemux-samplesheet.csv @nh13 @sam-white04
